:root {
  --primary-color: #4d5ae5;
  --primary-color-dark: #404bbf;
  --color-dark: #2e2f42;
  --color-success: #31d0aa;
  --color-text: #434455;
  --color-helper-text: #8e8f99;
  --color-accent: #e7e9fc;
  --color-light: #f4f4fd;
  --color-modal: #2e2f4266;
  --color-bg: #2e2f42b2;
  --color-white: #ffffff;
  --color-modal-bg: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.logo,
.logo:visited {
  font-family: "Raleway", "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.3px;
  text-decoration: none;
  color: var(--color-dark);
  text-transform: uppercase;
}
.logo:hover,
.logo:active,
.logo:focus {
  color: var(--primary-color-dark);
}

.logo span {
  color: var(--primary-color);
}

.header-list {
  list-style-type: none;
}

.header-link,
.header-link:visited {
  font-weight: 500;
  color: var(--color-dark);
  text-decoration: none;
}
.header-link:hover,
.header-link:active,
.header-link:focus {
  color: var(--primary-color-dark);
}

.header-address-list {
  list-style-type: none;
}
.header-address-link,
.header-address-link:visited {
  text-decoration: none;
  color: var(--color-text);
}

.header-address-link:hover,
.header-address-link:active,
.header-address-link:focus {
  color: var(--primary-color-dark);
}

.hero-section {
  background-color: var(--color-dark);
  text-align: center;
}
.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  color: var(--color-white);
}
.primary-button {
  padding: 16px 32px 16px 32px;
  border-radius: 4px;
  border: none;
  opacity: 0px;
  background: var(--primary-color);
  box-shadow: 0px 4px 4px 0px #00000026;
  cursor: pointer;
  color: var(--color-white);
}

.primary-button:hover,
.primary-button:active,
.primary-button:focus {
  color: var(--primary-color-dark);
}

.services-section {
  text-align: center;
}
.services-list {
  list-style-type: none;
}

.services-item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: var(--color-dark);
}

.team-section {
  background-color: var(--color-light);
  text-align: center;
}
.team-section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  color: var(--color-dark);
}

.team-list {
  list-style-type: none;
}

.team-item {
  background-color: var(--color-white);
  box-shadow: 0px 2px 1px 0px #2e2f4214;
  box-shadow: 0px 1px 1px 0px #2e2f4229;
  box-shadow: 0px 1px 6px 0px #2e2f4214;
  border-radius: 4px;
}

.team-item-title {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-dark);
}

.portfolio-section {
  text-align: center;
}

.portfolio-list {
  list-style-type: none;
}

.portfolio-item {
  background-color: var(--color-white);
  border: 1px solid var(--color-accent);
  border-radius: 1px;
}

.portfolio-item-title {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-dark);
}

footer {
  background-color: var(--color-dark);
}

.footer-logo.logo,
.footer-logo.logo:visited {
  color: var(--color-light);
}
.footer-logo.logo:hover,
.footer-logo.logo:active,
.footer-logo.logo:focus {
  color: var(--primary-color-dark);
}

.footer-desc {
  color: var(--color-light);
  width: 264px;
}
